<h1> 投稿一覧 </h1>
<% @posts.each do |post| %>
      <p>
         <%= post.title %>
         <%= post.content %>
         <%= button_to "削除", post_path(post), method: :delete, data: {confirm: "削除しますか?"} %>
         <%= link_to "編集", edit_post_path(post) %>
      </p>
<% end %>
